# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#MatPlotLib Notebook
%matplotlib notebook

# Dependencies and Setup
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Replace all NaN values with 0 
school_data_complete = school_data_complete.fillna(0)

#Calculate the number of unique schools in the Dataframe 
total_schools = school_data_complete['school_name'].nunique()

total_schools

15

In [3]:
#Calculate the total number of students
total_students = school_data_complete["student_name"].count()
total_students

39170

In [4]:
#Calculate the total budget by first getting all the unique budgets of each school district
unique_budgets = list(school_data_complete["budget"].agg(['unique']))

unique_budgets

[array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
        3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
        1043130], dtype=int64)]

In [5]:
#Convert array to list
budget_list = np.array(unique_budgets).tolist()

In [6]:
#Calculate total budget 
total_budget= np.array(budget_list).sum()
total_budget

24649428

In [7]:
#Calculate  the average math score 

average_math_score= school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [8]:
#Calculate  the average reading score 

average_reading_score= school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [9]:
#Calculate the % passing math 
 # of Passing Students 
    
#Create Bins to group scores 
bins = [0, 65, 69, 79, 89, 100]

# Create the names for the four bins
group_names = ["F", "D", "C", "B", "A"]

#Create a new column with summaries of grades 
school_data_complete["Math Score Summary"] = pd.cut(school_data_complete["math_score"], bins, labels=group_names)

school_data_complete["Reading Score Summary"] = pd.cut(school_data_complete["reading_score"], bins, labels=group_names)

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Math Score Summary,Reading Score Summary
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,C,D
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,F,A
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,F,A
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,F,D
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,B,A
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,A,A
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,B,B
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,D,A
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,B,A
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,B,A
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,C,A
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,C,C
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,C,F
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,C,C
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,D,B
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,B,A
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,F,B
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,C,C
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,D,F
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,B,B
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,B,A
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,C,A
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,B,A
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,D,B
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,C,B
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,C,A
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,B,F
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,F,B
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,F,C
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,B,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,A,C
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,A,B
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,B,A
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,A,C
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,B,C
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,C,A
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,A,D
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,B,B
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,B,B
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,A,B
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,C,B
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,C,B
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,B,A
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,C,B
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,C,A
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,A,A
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,A,C
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,A,C
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,A,B
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,C,B
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,B,B
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,B,C
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,C,A
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,C,A
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,C,A
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,A,A
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,C,A
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,B,C
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,A,A
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,C,A

In [10]:
school_data_complete[school_data_complete["Math Score Summary"]!="F"].count()

Student ID               32555
student_name             32555
gender                   32555
grade                    32555
school_name              32555
reading_score            32555
math_score               32555
School ID                32555
type                     32555
size                     32555
budget                   32555
Math Score Summary       32555
Reading Score Summary    32555
dtype: int64

In [11]:
#Count the values in summary columns of students with grades A,B,C or D 

math_passing= school_data_complete[school_data_complete["Math Score Summary"]!="F"].count()
Math_Passing_Percent = (math_passing)/(total_students) * 100
Math_Passing_Percent

Student ID               83.112076
student_name             83.112076
gender                   83.112076
grade                    83.112076
school_name              83.112076
reading_score            83.112076
math_score               83.112076
School ID                83.112076
type                     83.112076
size                     83.112076
budget                   83.112076
Math Score Summary       83.112076
Reading Score Summary    83.112076
dtype: float64

In [12]:
reading_passing= school_data_complete[school_data_complete["Reading Score Summary"]!="F"].count()

Read_Passing_Percent = (reading_passing)/(total_students) * 100

Read_Passing_Percent

Student ID               94.263467
student_name             94.263467
gender                   94.263467
grade                    94.263467
school_name              94.263467
reading_score            94.263467
math_score               94.263467
School ID                94.263467
type                     94.263467
size                     94.263467
budget                   94.263467
Math Score Summary       94.263467
Reading Score Summary    94.263467
dtype: float64

In [13]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
print(average_math_score)
print(average_reading_score)

calculation = int(average_math_score) + int(average_reading_score)

overall_average = (calculation)/2
overall_average

78.98537145774827
81.87784018381414

79.5

In [14]:
#Place all data in a summary table
summary_table = pd.DataFrame({"Total Schools": [total_schools],
                              "Total Students": ["{:,}".format(total_students)],
                              "Total Budget": ["${:,.2f}".format(total_budget)],
                              "Average Math Score": ["{:,.2f}".format(average_math_score)],
                              "Average Reading Score": ["{:,.2f}".format(average_reading_score)],
                              "% Passing Math": ["{:,.1f}%".format(Math_Passing_Percent[1])],
                              "% Passing Reading": ["{:,.1f}%".format(Read_Passing_Percent[1])],
                              "% Overall Passing Rate": ["{:,.1f}%".format(overall_average)]
                             })
summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,83.1%,94.3%,79.5%

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [15]:
#School Names
groupdby_schools = school_data_complete.groupby(["school_name"])
groupdby_schools.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget,Math Score Summary,Reading Score Summary
school_name,,,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [16]:
#Creating a new dataset with math and reading scores to get passing scores and then grouping by school name

school_math_score = school_data_complete.loc[school_data_complete['math_score'] >= 70]
math_score_by_school = school_math_score.groupby('school_name').agg({'math_score':'count'})

school_reading_score = school_data_complete.loc[school_data_complete['reading_score']>=70]
reading_score_by_school = school_reading_score.groupby('school_name').agg({'reading_score':'count'})
students_size = school_data_complete.groupby('school_name').agg({'size':'mean'})

passing_by_school = pd.merge(pd.merge(math_score_by_school, reading_score_by_school, on='school_name'), students_size, on='school_name')

passing_by_school['Math Passing'] = (passing_by_school['math_score'] / passing_by_school['size']) * 100
passing_by_school['Reading Passing'] = (passing_by_school['reading_score'] / passing_by_school['size']) * 100
passing_by_school['Overall Passing'] = (passing_by_school['Math Passing'] + passing_by_school['Reading Passing']) / 2

passing_by_school = passing_by_school[['size', 'Math Passing', 'Reading Passing', 'Overall Passing']]
passing_by_school.head()

                      size  Math Passing  Reading Passing  Overall Passing
school_name
Bailey High School    4976     66.680064        81.933280        74.306672
Cabrera High School   1858     94.133477        97.039828        95.586652
Figueroa High School  2949     65.988471        80.739234        73.363852
Ford High School      2739     68.309602        79.299014        73.804308
Griffin High School   1468     93.392371        97.138965        95.265668

In [17]:
school_summary = pd.DataFrame()
school_summary["School Type"] = groupdby_schools["type"].first()
school_summary["Total Students"] = groupdby_schools["size"].mean().unique()
school_summary["Total budget"] = groupdby_schools["budget"].mean().unique()
school_summary["Budget/Student"] = groupdby_schools["budget"].mean().unique() / groupdby_schools["size"].mean().unique()
school_summary["Avg Math Score"] = groupdby_schools["math_score"].mean().unique().round()
school_summary["Avg Reading Score"] = groupdby_schools["reading_score"].mean().unique().round()
school_summary["Math Passing %"] = passing_by_school["Math Passing"].round()
school_summary["Reading Passing %"] = passing_by_school["Reading Passing"].round()
school_summary["Overall Passing %"] = passing_by_school["Overall Passing"].round()
school_summary

,School Type,Total Students,Total budget,Budget/Student,Avg Math Score,Avg Reading Score,Math Passing %,Reading Passing %,Overall Passing %
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.0,81.0,67.0,82.0,74.0
Cabrera High School,Charter,1858,1081356,582.0,83.0,84.0,94.0,97.0,96.0
Figueroa High School,District,2949,1884411,639.0,77.0,81.0,66.0,81.0,73.0
Ford High School,District,2739,1763916,644.0,77.0,81.0,68.0,79.0,74.0
Griffin High School,Charter,1468,917500,625.0,83.0,84.0,93.0,97.0,95.0
Hernandez High School,District,4635,3022020,652.0,77.0,81.0,67.0,81.0,74.0
Holden High School,Charter,427,248087,581.0,84.0,84.0,93.0,96.0,94.0
Huang High School,District,2917,1910635,655.0,77.0,81.0,66.0,81.0,74.0
Johnson High School,District,4761,3094650,650.0,77.0,81.0,66.0,81.0,74.0
Pena High School,Charter,962,585858,609.0,84.0,84.0,95.0,96.0,95.0
Rodriguez High School,District,3999,2547363,637.0,77.0,81.0,66.0,80.0,73.0
Shelton High School,Charter,1761,1056600,600.0,83.0,84.0,94.0,96.0,95.0
Thomas High School,Charter,1635,1043130,638.0,83.0,84.0,93.0,97.0,95.0
Wilson High School,Charter,2283,1319574,578.0,83.0,84.0,94.0,97.0,95.0
Wright High School,Charter,1800,1049400,583.0,84.0,84.0,93.0,97.0,95.0

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [18]:
school_summary = school_summary.sort_values(["Overall Passing %"],ascending = False)
school_summary.head(5)

,School Type,Total Students,Total budget,Budget/Student,Avg Math Score,Avg Reading Score,Math Passing %,Reading Passing %,Overall Passing %
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.0,84.0,94.0,97.0,96.0
Griffin High School,Charter,1468,917500,625.0,83.0,84.0,93.0,97.0,95.0
Pena High School,Charter,962,585858,609.0,84.0,84.0,95.0,96.0,95.0
Shelton High School,Charter,1761,1056600,600.0,83.0,84.0,94.0,96.0,95.0
Thomas High School,Charter,1635,1043130,638.0,83.0,84.0,93.0,97.0,95.0

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [19]:
school_summary = school_summary.sort_values(["Overall Passing %"],ascending = True)
school_summary.head(5)

,School Type,Total Students,Total budget,Budget/Student,Avg Math Score,Avg Reading Score,Math Passing %,Reading Passing %,Overall Passing %
school_name,,,,,,,,,
Figueroa High School,District,2949,1884411,639.0,77.0,81.0,66.0,81.0,73.0
Rodriguez High School,District,3999,2547363,637.0,77.0,81.0,66.0,80.0,73.0
Bailey High School,District,4976,3124928,628.0,77.0,81.0,67.0,82.0,74.0
Ford High School,District,2739,1763916,644.0,77.0,81.0,68.0,79.0,74.0
Hernandez High School,District,4635,3022020,652.0,77.0,81.0,67.0,81.0,74.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [20]:
ninth_math_score = school_data_complete.loc[school_data_complete['grade'] == "9th"]
ninthmath_score_by_school = ninth_math_score.groupby('school_name').agg({'math_score':'mean'})

tenth_math_score = school_data_complete.loc[school_data_complete['grade'] == "10th"]
tenthmath_score_by_school = tenth_math_score.groupby('school_name').agg({'math_score':'mean'})

eleventh_math_score = school_data_complete.loc[school_data_complete['grade'] == "11th"]
eleventhmath_score_by_school = eleventh_math_score.groupby('school_name').agg({'math_score':'mean'})

twelfth_math_score = school_data_complete.loc[school_data_complete['grade'] == "12th"]
twelfthmath_score_by_school = twelfth_math_score.groupby('school_name').agg({'math_score':'mean'})

In [21]:
mathgrade_summary = pd.DataFrame()
mathgrade_summary["9th"] = ninthmath_score_by_school['math_score']
mathgrade_summary["10th"] = tenthmath_score_by_school['math_score']
mathgrade_summary["11th"] = eleventhmath_score_by_school['math_score']
mathgrade_summary["12th"] = twelfthmath_score_by_school['math_score']
mathgrade_summary

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [22]:
ninth_read_score = school_data_complete.loc[school_data_complete['grade'] == "9th"]
ninthread_score_by_school = ninth_read_score.groupby('school_name').agg({'reading_score':'mean'})

tenth_read_score = school_data_complete.loc[school_data_complete['grade'] == "10th"]
tenthread_score_by_school = tenth_read_score.groupby('school_name').agg({'reading_score':'mean'})

eleventh_read_score = school_data_complete.loc[school_data_complete['grade'] == "11th"]
eleventhread_score_by_school = eleventh_read_score.groupby('school_name').agg({'reading_score':'mean'})

twelfth_read_score = school_data_complete.loc[school_data_complete['grade'] == "12th"]
twelfthread_score_by_school = twelfth_read_score.groupby('school_name').agg({'reading_score':'mean'})

readgrade_summary = pd.DataFrame()
readgrade_summary["9th"] = ninthread_score_by_school['reading_score']
readgrade_summary["10th"] = tenthread_score_by_school['reading_score']
readgrade_summary["11th"] = eleventhread_score_by_school['reading_score']
readgrade_summary["12th"] = twelfthread_score_by_school['reading_score']
readgrade_summary

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [26]:
spending_bins = [0, 585, 615, 645, 676]
group_labels = ["<$585", "$585-614", "$615-644", "$645-675"]
pd.cut(school_summary["Budget/Student"], spending_bins, labels=group_labels)
school_summary["Spend Range Per Student"] = pd.cut(school_summary["Budget/Student"], spending_bins, labels=group_labels)
school_summary

,School Type,Total Students,Total budget,Budget/Student,Avg Math Score,Avg Reading Score,Math Passing %,Reading Passing %,Overall Passing %,Spend Range Per Student
school_name,,,,,,,,,,
Figueroa High School,District,2949,1884411,639.0,77.0,81.0,66.0,81.0,73.0,$615-644
Rodriguez High School,District,3999,2547363,637.0,77.0,81.0,66.0,80.0,73.0,$615-644
Bailey High School,District,4976,3124928,628.0,77.0,81.0,67.0,82.0,74.0,$615-644
Ford High School,District,2739,1763916,644.0,77.0,81.0,68.0,79.0,74.0,$615-644
Hernandez High School,District,4635,3022020,652.0,77.0,81.0,67.0,81.0,74.0,$645-675
Huang High School,District,2917,1910635,655.0,77.0,81.0,66.0,81.0,74.0,$645-675
Johnson High School,District,4761,3094650,650.0,77.0,81.0,66.0,81.0,74.0,$645-675
Holden High School,Charter,427,248087,581.0,84.0,84.0,93.0,96.0,94.0,<$585
Griffin High School,Charter,1468,917500,625.0,83.0,84.0,93.0,97.0,95.0,$615-644
Pena High School,Charter,962,585858,609.0,84.0,84.0,95.0,96.0,95.0,$585-614
Shelton High School,Charter,1761,1056600,600.0,83.0,84.0,94.0,96.0,95.0,$585-614
Thomas High School,Charter,1635,1043130,638.0,83.0,84.0,93.0,97.0,95.0,$615-644
Wilson High School,Charter,2283,1319574,578.0,83.0,84.0,94.0,97.0,95.0,<$585
Wright High School,Charter,1800,1049400,583.0,84.0,84.0,93.0,97.0,95.0,<$585
Cabrera High School,Charter,1858,1081356,582.0,83.0,84.0,94.0,97.0,96.0,<$585

In [31]:
new_df= school_summary[['Spend Range Per Student','School Type','Total Students','Avg Math Score','Avg Reading Score','Math Passing %','Reading Passing %','Overall Passing %']]
new_df = new_df.reindex(school_summary.index, fill_value=0)
new_df

,Spend Range Per Student,School Type,Total Students,Avg Math Score,Avg Reading Score,Math Passing %,Reading Passing %,Overall Passing %
school_name,,,,,,,,
Figueroa High School,$615-644,District,2949,77.0,81.0,66.0,81.0,73.0
Rodriguez High School,$615-644,District,3999,77.0,81.0,66.0,80.0,73.0
Bailey High School,$615-644,District,4976,77.0,81.0,67.0,82.0,74.0
Ford High School,$615-644,District,2739,77.0,81.0,68.0,79.0,74.0
Hernandez High School,$645-675,District,4635,77.0,81.0,67.0,81.0,74.0
Huang High School,$645-675,District,2917,77.0,81.0,66.0,81.0,74.0
Johnson High School,$645-675,District,4761,77.0,81.0,66.0,81.0,74.0
Holden High School,<$585,Charter,427,84.0,84.0,93.0,96.0,94.0
Griffin High School,$615-644,Charter,1468,83.0,84.0,93.0,97.0,95.0
Pena High School,$585-614,Charter,962,84.0,84.0,95.0,96.0,95.0
Shelton High School,$585-614,Charter,1761,83.0,84.0,94.0,96.0,95.0
Thomas High School,$615-644,Charter,1635,83.0,84.0,93.0,97.0,95.0
Wilson High School,<$585,Charter,2283,83.0,84.0,94.0,97.0,95.0
Wright High School,<$585,Charter,1800,84.0,84.0,93.0,97.0,95.0
Cabrera High School,<$585,Charter,1858,83.0,84.0,94.0,97.0,96.0

In [32]:
scores_spending = new_df.groupby('Spend Range Per Student').mean()
scores_spending.head()

,Total Students,Avg Math Score,Avg Reading Score,Math Passing %,Reading Passing %,Overall Passing %
Spend Range Per Student,,,,,,
<$585,1592.000000,83.5,84.0,93.500000,96.75,95.000000
$585-614,1361.500000,83.5,84.0,94.500000,96.00,95.000000
$615-644,2961.000000,79.0,82.0,75.500000,86.00,80.666667
$645-675,4104.333333,77.0,81.0,66.333333,81.00,74.000000

In [24]:
# Sample bins. Feel free to create your own bins.

# Place the data series into a new column inside of the DataFrame

## Scores by School Size

* Perform the same operations as above, based on school size.

In [35]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [38]:
pd.cut(school_summary["Total Students"], size_bins, labels=group_names)
school_summary["School Size"] = pd.cut(school_summary["Total Students"], size_bins, labels=group_names)
school_summary

,School Type,Total Students,Total budget,Budget/Student,Avg Math Score,Avg Reading Score,Math Passing %,Reading Passing %,Overall Passing %,Spend Range Per Student,School Size
school_name,,,,,,,,,,,
Figueroa High School,District,2949,1884411,639.0,77.0,81.0,66.0,81.0,73.0,$615-644,Large (2000-5000)
Rodriguez High School,District,3999,2547363,637.0,77.0,81.0,66.0,80.0,73.0,$615-644,Large (2000-5000)
Bailey High School,District,4976,3124928,628.0,77.0,81.0,67.0,82.0,74.0,$615-644,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.0,81.0,68.0,79.0,74.0,$615-644,Large (2000-5000)
Hernandez High School,District,4635,3022020,652.0,77.0,81.0,67.0,81.0,74.0,$645-675,Large (2000-5000)
Huang High School,District,2917,1910635,655.0,77.0,81.0,66.0,81.0,74.0,$645-675,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.0,81.0,66.0,81.0,74.0,$645-675,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,84.0,84.0,93.0,96.0,94.0,<$585,Small (<1000)
Griffin High School,Charter,1468,917500,625.0,83.0,84.0,93.0,97.0,95.0,$615-644,Medium (1000-2000)
Pena High School,Charter,962,585858,609.0,84.0,84.0,95.0,96.0,95.0,$585-614,Small (<1000)
Shelton High School,Charter,1761,1056600,600.0,83.0,84.0,94.0,96.0,95.0,$585-614,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.0,84.0,93.0,97.0,95.0,$615-644,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.0,84.0,94.0,97.0,95.0,<$585,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,84.0,84.0,93.0,97.0,95.0,<$585,Medium (1000-2000)
Cabrera High School,Charter,1858,1081356,582.0,83.0,84.0,94.0,97.0,96.0,<$585,Medium (1000-2000)

In [39]:
size_df= school_summary[['School Size','School Type','Total Students','Avg Math Score','Avg Reading Score','Math Passing %','Reading Passing %','Overall Passing %']]
size_df = size_df.reindex(school_summary.index, fill_value=0)
size_df

,School Size,School Type,Total Students,Avg Math Score,Avg Reading Score,Math Passing %,Reading Passing %,Overall Passing %
school_name,,,,,,,,
Figueroa High School,Large (2000-5000),District,2949,77.0,81.0,66.0,81.0,73.0
Rodriguez High School,Large (2000-5000),District,3999,77.0,81.0,66.0,80.0,73.0
Bailey High School,Large (2000-5000),District,4976,77.0,81.0,67.0,82.0,74.0
Ford High School,Large (2000-5000),District,2739,77.0,81.0,68.0,79.0,74.0
Hernandez High School,Large (2000-5000),District,4635,77.0,81.0,67.0,81.0,74.0
Huang High School,Large (2000-5000),District,2917,77.0,81.0,66.0,81.0,74.0
Johnson High School,Large (2000-5000),District,4761,77.0,81.0,66.0,81.0,74.0
Holden High School,Small (<1000),Charter,427,84.0,84.0,93.0,96.0,94.0
Griffin High School,Medium (1000-2000),Charter,1468,83.0,84.0,93.0,97.0,95.0
Pena High School,Small (<1000),Charter,962,84.0,84.0,95.0,96.0,95.0
Shelton High School,Medium (1000-2000),Charter,1761,83.0,84.0,94.0,96.0,95.0
Thomas High School,Medium (1000-2000),Charter,1635,83.0,84.0,93.0,97.0,95.0
Wilson High School,Large (2000-5000),Charter,2283,83.0,84.0,94.0,97.0,95.0
Wright High School,Medium (1000-2000),Charter,1800,84.0,84.0,93.0,97.0,95.0
Cabrera High School,Medium (1000-2000),Charter,1858,83.0,84.0,94.0,97.0,96.0

In [40]:
scores_size = size_df.groupby('School Size').mean()
scores_size.head()

,Total Students,Avg Math Score,Avg Reading Score,Math Passing %,Reading Passing %,Overall Passing %
School Size,,,,,,
Small (<1000),694.500,84.00,84.000,94.0,96.00,94.500
Medium (1000-2000),1704.400,83.20,84.000,93.4,96.80,95.200
Large (2000-5000),3657.375,77.75,81.375,70.0,82.75,76.375

## Scores by School Type

* Perform the same operations as above, based on school type.

In [46]:
#type_bins = ['Null', 'Charter', 'District']
#group_type = ["Charter", "District"]
#pd.cut(school_summary["School Type"], type_bins, labels=group_type)
#school_summary["Type"] = pd.cut(school_summary["School Type"], size_bins, labels=group_names)
#school_summary

In [45]:
scores_type = new_df.groupby('School Type').mean()
scores_type.head()

,Total Students,Avg Math Score,Avg Reading Score,Math Passing %,Reading Passing %,Overall Passing %
School Type,,,,,,
Charter,1524.250000,83.375,84.0,93.625000,96.625000,95.000000
District,3853.714286,77.000,81.0,66.571429,80.714286,73.714286